* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #222;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
canvas {
    display: block;
}
header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 10px;
    z-index: 1;
    opacity: 0.6;
    user-select: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
