/* global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #222;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
    display: block;
}

/* general */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* menu */

#menu {
    position: fixed;
    z-index: 10;
    padding: 10px;
    color: #bbb;
    font-size: 20px;
    border-bottom-right-radius: 10px;
}

#menuContent {
    display: none;
    padding: 10px;
}

#menu.visible {
    width: 250px;
    background-color: rgba(25, 25, 25, 0.9);
    box-shadow: 0px 0px 10px #fff1;
}

#menu.visible #menuContent {
    display: block;
}

/* hamburger */

#hamburger {
    cursor: pointer;
}

#hamburger:hover {
    color: white;
}

/* inputs and their labels */

label {
    cursor: pointer;
}

label:hover {
    color: white;
}

input {
    display: none;
}

/* spans */

#menu span {
    user-select: none;
}

/* menu stats */

#menuStats {
    margin: 20px 0px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 5fr;
}

/* cell icons */

.cell-icon,
.stat {
    display: none;
}

.cell-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 0.8;
    transform: translate(4px, 7px);
}
.cell-icon.cell {
    background: #3080ff;
}
.cell-icon.food {
    background: #ffa030;
}
.cell-icon.poison {
    background: #ff0020;
}
.cell-icon.immortal {
    background: white;
}
.cell-icon.helper {
    background: #50ff50;
}
.cell-icon.blackhole {
    background: black;
}
.cell-icon.jumper {
    background: #bb00ff;
}

/* menu table */

#menuTable {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 5fr;
}
#menuTable label {
    transform: translateY(4px);
}

/* history */

#historyCanvasContainer {
    display: none;
    box-sizing: content-box;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 300px;
    height: 100px;
    z-index: 5;
    background-color: rgba(34, 34, 34, 0.8);
    border: 1px solid #333;
    border-radius: 3px;
    overflow: hidden;
}

#historyCanvas {
    transition: margin-left 2s ease-in-out;
    display: block;
}

/* phase */

#phaseDisplay {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0px 20px 0px;
    font-weight: bold;
    font-size: 16px;
    color: orange;
}
