/* global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #222;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
canvas {
    display: block;
}

/* menu */

#menu {
    position: fixed;
    z-index: 10;
    padding: 10px;
    color: #bbb;
}
#menuContent {
    padding-top: 20px;
    padding-right: 100px;
    display: none;
}
#menu.visible {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px #fff1;
}
#menu.visible #menuContent {
    display: block;
}

#hamburger {
    font-size: 20px;
    cursor: pointer;
}
#hamburger:hover {
    color: white;
}

li {
    list-style: none;
    padding: 4px 0px;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
input {
    display: none;
}
label {
    cursor: pointer;
}
label:hover {
    text-decoration: underline;
}
